# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://lokafmtkzrvevhkrasdy.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_YwqlpoE-w8YNGzlsO5Sp5A_wA-0wV52

# Google Gemini API
GEMINI_API_KEY=your-gemini-api-key

